<section id="testimonials">
  <div class="container">
      <h2 class="text-center">Testimonials from Satisfied Elves</h2>
      <p class="text-center">See what our customers say!</p>

      <div class="row">
          <div class="col-lg-4">
              <blockquote>"The ArasBurger Classic gives me the energy I need to win my races!"</blockquote>
              <footer>- Elven Athlete</footer>
          </div>
          <div class="col-lg-4">
              <blockquote>"The Vegan ArasWrap is my go-to meal during my busy workdays!"</blockquote>
              <footer>- Busy Elven Professional</footer>
          </div>
          <div class="col-lg-4">
              <blockquote>"I can't get enough of the Spicy ArasBurger! It adds excitement to my day!"</blockquote>
              <footer>- Elven Adventure Seeker</footer>
          </div>
      </div>

      <div class="row">
          <div class="col-lg-4">
              <blockquote>"The ArasFries are a perfect snack for a quick boost between training sessions!"</blockquote>
              <footer>- Elven Gym Enthusiast</footer>
          </div>
          <div class="col-lg-4">
              <blockquote>"After a long day at work, nothing beats the ArasBurger Classic to regain my energy!"</blockquote>
              <footer>- Elven Business Executive</footer>
          </div>
          <div class="col-lg-4">
              <blockquote>"The Vegan ArasWrap is light but packed with the energy I need for my active lifestyle!"</blockquote>
              <footer>- Nature-Loving Elf</footer>
          </div>
      </div>
  </div>
</section>
