/* Global Styles */
body {
    font-size: 18px; /* Taille globale du texte */
}

/* Navbar adjustments */
nav.navbar {
    padding: 10px 0; /* Espacement réduit */
    font-size: 2rem; /* Taille des textes de navigation */
}

.navbar-brand {
    font-size: 3.5rem; /* Taille du texte du logo */
}

.navbar-nav {
    display: flex;
    justify-content: space-between; /* Espacement uniforme des éléments */
}

.navbar-nav > li > a {
    font-size: 1.7rem; /* Taille des liens de navigation */
    margin-right: 30px; /* Espacement entre les liens */
}

/* Cacher le bouton "Menu" par défaut */
.navbar-toggler {
    display: none; /* Cacher le bouton "Menu" */
}

/* Header adjustments */
header.masthead {
    padding: 40px 0; /* Augmentation de l'espacement pour un design plus aéré */
    text-align: center;
    color: #000;
    background: var(--primary-color);
}

header .masthead-heading {
    font-size: 10rem; /* Taille du titre principal */
    font-weight: 700;
}

header .masthead-subheading {
    font-size: 5rem; /* Taille du sous-titre */
    font-weight: 400;
}

/* Section Styles */
section {
    padding: 50px 0; /* Augmentation de l'espacement pour une meilleure lisibilité */
}

/* Products section */
#products {
    padding: 50px 0; /* Espacement entre la navigation et les produits */
}

#products .col-lg-3 {
    text-align: center;
    margin-bottom: 40px; /* Espacement entre les produits */
}

#products img {
    max-width: 90%; /* Taille des images des produits */
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

#products h2 {
    font-size: 3rem; /* Taille des titres des produits */
    margin-top: 15px;
}

#products p {
    font-size: 2rem; /* Taille des descriptions des produits */
    color: #555;
}

/* Testimonials section */
#testimonials {
    padding: 60px 0;
}

#testimonials h2 {
    font-size: 3rem; /* Taille du titre de la section témoignages */
}

#testimonials blockquote {
    font-size: 2rem; /* Taille des témoignages */
    font-style: italic;
}

/* Footer Styles */
footer {
    color: #fff;
    padding: 30px 0;
    background-color: var(--secondary-color);
}

footer h3 {
    margin-bottom: 20px;
    font-size: 1.75rem; /* Taille des titres du footer */
}

footer .footer-below {
    padding: 20px 0;
    background-color: var(--secondary-dark-color);
}

/* Ajustements pour petits écrans */
@media (max-width: 768px) {
    .navbar-toggler {
        display: block; /* Afficher le bouton "Menu" */
        margin-left: auto;
    }

    .navbar-nav {
        flex-direction: column; /* Empiler les éléments sur les petits écrans */
        align-items: center;
    }

    .masthead-heading {
        font-size: 4rem !important;
    }

    .masthead-subheading {
        font-size: 2rem !important;
    }

    #products h2 {
        font-size: 2rem; /* Taille réduite des titres des produits */
    }

    #products p {
        font-size: 1.5rem; /* Taille réduite des descriptions des produits */
    }
}
