/* assets/css/variables.css */
:root {
    --primary-color: #3498db;  /* Remplace par ta couleur primaire */
    --secondary-color: #2c3e50;  /* Couleur secondaire */
    --secondary-dark-color: #1a242f;  /* Couleur secondaire plus sombre */
    --accent-color: #e74c3c;  /* Couleur d'accent */
    --light-color: #ecf0f1;  /* Couleur claire */
    --dark-color: #34495e;  /* Couleur foncée */
}
