<!-- Début de la Navbar optimisée -->
<header
  class="top-0 z-50 w-full text-gray-900 bg-gray-100 border-b border-gray-200 dark:text-gray-200 dark:bg-gray-900 dark:border-gray-700"
>
  <div
    x-data="{ open: false }"
    class="container mx-auto px-4 py-4 flex items-center justify-between md:px-6 lg:px-8"
  >
    <!-- Logo et Titre -->
    <a
      href="/"
      class="flex items-center text-black dark:text-white"
      aria-label="ArasBurger Home"
    >
      <img
        src="/images/logo.webp"
        class="transition-opacity group-hover:opacity-50 group-focus:opacity-70"
        alt="{{ .Site.Title }} Logo"
        width="36"
        height="36"
      />
      <span
        class="ml-3 text-xl font-black tracking-tight uppercase transition-colors group-hover:text-gray-400 dark:group-hover:text-gray-500"
      >
        {{ .Site.Title }}
      </span>
    </a>

    <!-- Bouton du Menu pour Mobile -->
    <button
      class="rounded-lg md:hidden focus:outline-none focus:shadow-outline"
      @click="open = !open"
      aria-label="Menu"
      :aria-expanded="open"
      aria-controls="menuItems"
    >
      <svg
        :class="{'hidden': open, 'block': !open}"
        fill="currentColor"
        viewBox="0 0 20 20"
        class="w-6 h-6 text-gray-900 dark:text-gray-100"
      >
        <!-- Icône Hamburger -->
        <path
          fill-rule="evenodd"
          d="M3 5h14M3 10h14M3 15h14"
          clip-rule="evenodd"
        ></path>
      </svg>
      <svg
        :class="{'hidden': !open, 'block': open}"
        fill="currentColor"
        viewBox="0 0 20 20"
        class="w-6 h-6 text-gray-900 dark:text-gray-100"
      >
        <!-- Icône Croix -->
        <path
          fill-rule="evenodd"
          d="M5 5l10 10M15 5L5 15"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>

    <!-- Menu de Navigation -->
    <nav
      :class="{'flex': open, 'hidden': !open}"
      class="hidden flex-col mt-4 md:flex md:flex-row md:mt-0"
      id="menuItems"
    >
      <div class="flex flex-col md:flex-row md:items-center">
        {{ range .Site.Menus.main }}
        <a
          class="px-4 py-2 text-sm font-semibold rounded-lg dark:text-gray-200 md:ml-4 hover:bg-primary-600 focus:bg-primary-600 focus:outline-none focus:shadow-outline"
          href="{{ .URL | absLangURL }}"
          title="{{ .Title | default .Name }}"
        >
          {{ .Name }}
        </a>
        {{ end }}
        <!-- Bouton de Changement de Thème -->
        <button
          id="theme-toggle"
          type="button"
          class="mt-2 p-2 text-sm text-gray-500 dark:text-gray-400 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 md:mt-0 md:ml-4"
          aria-label="Toggle theme"
        >
          <svg
            id="theme-toggle-dark-icon"
            class="hidden w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M17.293 13.293A8 8 0 116.707 2.707a8 8 0 0010.586 10.586z"
            ></path>
          </svg>
          <svg
            id="theme-toggle-light-icon"
            class="hidden w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              fill-rule="evenodd"
              d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4.22 1.78a1 1 0 011.42 0l.7.7a1 1 0 11-1.42 1.42l-.7-.7a1 1 0 010-1.42zM17 10a1 1 0 110 2h-1a1 1 0 110-2h1zm-7 5a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zm-5.22-1.78a1 1 0 010 1.42l-.7.7a1 1 0 11-1.42-1.42l.7-.7a1 1 0 011.42 0zM3 10a1 1 0 110 2H2a1 1 0 110-2h1zm2.22-5.22a1 1 0 010 1.42l-.7.7a1 1 0 11-1.42-1.42l.7-.7a1 1 0 011.42 0zM10 6a4 4 0 100 8 4 4 0 000-8z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
      </div>
    </nav>
  </div>
</header>
<!-- Fin de la Navbar optimisée -->
